// Файл обнуляющих стилей
@import "nullstyle.scss";

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background-color: rgb(70, 67, 67);
}

$wight1: 200px;
$wight2: 1200px;

.wrapper {
	font-size: 15px;
	min-height: 100%;
	display: grid;
	grid-template: minmax(80px, auto) 1fr minmax(50px, auto) / 1fr;
	grid-template-areas:
		"header"
		"main"
		"footer";
}
.header {
	grid-area: header;
	padding: 10px;
	background-color: #794f45;

	display: grid;
	align-items: center;
	grid-template: 1fr / 1fr minmax(auto, $wight1) minmax(300px, $wight2) 1fr;
	margin: 0px 0px 20px 0px;
}
.header__logo {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: #fff;
	margin: 5px 0;
	margin: 5px 0px 5px 10px;

	grid-column: 2/3;
}
.menu {
	grid-column: 3/4;
	margin: 0px 10px 0px 0px;
}
.header__list {
	text-transform: uppercase;

	li {
		padding: 0px 15px 0px 0px;
	}

	a {
		color: #fff;
	}

	display: grid;
	grid-auto-flow: column;
	justify-items: end;
}

.header__burger {
}

.main {
	margin: 0 20px;
}

@media screen and (min-width: 767px) {
	.main {
		grid-area: main;
		display: grid;
		column-gap: 20px;
		grid-template-columns: 1fr minmax(auto, $wight1) minmax(auto, $wight2) 1fr;
		grid-template-areas:
			"sidebar gallery"
			"sidebar store";
	}
}

.sidebar {
	grid-area: sidebar;
	background-color: #7a956b;
	grid-column: 2/3;
	margin: 0px 0px 20px 0px;
}

.sidebar__menu {
	padding: 30px;
	line-height: 20px;
	text-decoration: underline;
	letter-spacing: 1px;
	font-size: 17px;

	a {
		color: #fff;
		font-weight: 500;
	}
}

.sidebar__list {
	display: grid;
	grid-auto-flow: column;
	// li {
	// 	margin: 0px 0px 20px 0px;
	// }
}

@media screen and (min-width: 767px) {
	.sidebar__list {
		display: block;
		text-align: center;
		li {
			margin: 0px 0px 20px 0px;
		}
	}
}

.gallery {
	grid-area: gallery;
	grid-column: 3/4;
	margin: 0px 0px 30px 0px;
}
.gallery__main-title {
	font-size: 40px;
	color: #fff;
	font-weight: 500;
	margin: 0px 0px 30px 0px;
}
.title {
	font-size: 25px;
	font-weight: 500;
	line-height: 35px;
	color: #fff;
	margin: 0px 0px 10px 10px;
}
.gallery__items {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 10px;
	// grid-template-columns: repeat(3, 1fr);
	// grid-template-rows: repeat(3, 1fr);
}

@media screen and (min-width: 767px) {
	.gallery__item-big {
		grid-row: span 2;
		grid-column: span 2;
	}
}

.gallery__item img {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;

	object-fit: cover;
	transition-duration: 0.2s;

	&:hover {
		transform: scale(1.05);
		z-index: 5;
	}
}
.gallery__item {
	// overflow: hidden;
	position: relative;
	padding: 0px 0px 85% 0px;
}

.store {
	grid-area: store;
	grid-column: 3/4;
	padding: 0px 0px 30px 0px;
}

.store__items {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 10px;
	@media screen and (min-width: 767px) {
		gap: 30px;
	}
}
.store__item-img {
	display: block;
	position: relative;
	padding: 0px 0px 85% 0px;
	margin: 0px 0px 15px 0px;
}

.store__item {
	display: grid;
	grid-template: minmax(250px, auto) 1fr 40px / 1fr;
}

.store__item img {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.store__item-title {
	color: #fff;
	font-size: 19px;
	margin: 0px 0px 25px 0px;
}
.store__button {
	background-color: #794f45;
	line-height: 40px;
	padding: 0 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 13px;
	text-decoration: none;
	justify-self: start;
	color: #fff;
	transition-property: background-color;
	transition-duration: 0.5s;
	position: relative;

	&:hover {
		background-color: #7a6a66d8;
		color: rgb(58, 18, 18);
	}

	&:active {
		background-color: #c7c6c6d8;

		// top: 2px;
		transform: translate(1px, 1px);
		box-shadow: -1px -1px 0px #0000007c;
	}
}

.footer {
	padding: 10px;
	background-color: #7a956b;
	grid-area: footer;
	color: #fff;
	font-style: italic;

	display: grid;
	grid-template: 1fr / 1fr minmax(auto, $wight1) minmax(auto, $wight2) 1fr;
	align-items: center;
	// grid-template: 1fr / 1fr minmax(auto, wight1)  1fr;
}
.footer__copy {
	grid-column: 2/3;
}
.footer__brand {
	grid-column: 3/4;
	text-align: right;
}

a:hover {
	color: rgb(201, 55, 55);
	transition-duration: 1s;
}
